# Decision Tree ML Algorithom

In [14]:
#import dataset
import pandas as pd
import numpy as np
import warnings as wr
wr.filterwarnings('ignore')
import matplotlib.pyplot as plt
smoking_data=pd.read_csv('Smoking Data.csv')

In [2]:
smoking_data.head()

      region  age     sex     bmi  children smoker
0  southwest   19  female  27.900         0    yes
1  southeast   18    male  33.770         1     no
2  southeast   28    male  33.000         3     no
3  northwest   33    male  22.705         0     no
4  northwest   32    male  28.880         0     no

# Encoding

In [50]:
from sklearn.preprocessing import LabelEncoder#import encoding algorithom

In [51]:
le=LabelEncoder()#crate object

In [52]:
smoking_data['region']=le.fit_transform(smoking_data[['region']])#transform value

In [45]:
smoking_data['sex']=le.fit_transform(smoking_data[['sex']])

In [39]:
smoking_data.head()

   region  age  sex     bmi  children smoker
0       3   19    0  27.900         0    yes
1       2   18    1  33.770         1     no
2       2   28    1  33.000         3     no
3       1   33    1  22.705         0     no
4       1   32    1  28.880         0     no

In [49]:
#Splitting the dataset
x=smoking_data.drop('smoker',axis=1)
y=smoking_data[['smoker']]

In [53]:
from sklearn.model_selection import train_test_split as tts#import train test algorithom

In [54]:
xtrain,xtest,ytrain,ytest=tts(x,y,train_size=70,random_state=1)#Splitting train,test

In [55]:
from sklearn.tree import DecisionTreeClassifier#import DecisionTreeClassifier algorithom

In [56]:
dtc=DecisionTreeClassifier()#crate object

In [57]:
dtc.fit(x,y)#fit train value

DecisionTreeClassifier()

In [67]:
dtc.predict([[3,19,0,27.900,0]])#predicted value [southwest-3,age-19,female-0,bmi-27.900,children-0]

array(['yes'], dtype=object)