In [122]:
# import the data
# sep x,y
# find out the coef , intercept
# y = m1*x1 + m2*x2 + m3*x3 + c
# lr.predict([[12,20,32]])
# calculate r2_score

In [82]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [83]:
df = pd.read_csv('supershop.csv')

In [84]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Marketing Spend  50 non-null     float64
 1   Administration   50 non-null     float64
 2   Transport        49 non-null     float64
 3   Area             50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [118]:
df.describe()

       Marketing Spend  Administration      Transport         Profit
count        49.000000       49.000000      49.000000      49.000000
mean      73462.471020   120688.119796  215331.732449  111792.961224
std       46340.970977    27916.867501  119665.391550   40693.618302
min           0.000000    51283.140000       0.000000   14681.400000
25%       38558.510000   103057.490000  134050.070000   89949.140000
50%       72107.600000   122616.840000  214634.810000  107404.340000
75%      101913.080000   144135.980000  299737.290000  141585.520000
max      165349.200000   182645.560000  471784.100000  192261.830000

In [121]:
df.corr()

                 Marketing Spend  Administration  Transport    Profit
Marketing Spend         1.000000        0.227141   0.718574  0.937853
Administration          0.227141        1.000000   0.009534  0.197201
Transport               0.718574        0.009534   1.000000  0.782578
Profit                  0.937853        0.197201   0.782578  1.000000

In [99]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Profit             0
dtype: int64

In [98]:
df.dropna(inplace=True)

In [91]:
df.drop('Area',axis=True,inplace=True)

In [92]:
df.head()

   Marketing Spend  Administration  Transport     Profit
0        114523.61       136897.80  471784.10  192261.83
1        162597.70       151377.59  443898.53  191792.06
2        153441.51       101145.55  407934.54  191050.39
3        144372.41       118671.85  383199.62  182901.99
4        142107.34        91391.77  366168.42  166187.94

In [100]:
reg = linear_model.LinearRegression()

In [101]:
reg.fit(df[['Marketing Spend','Administration','Transport']],df['Profit'])

LinearRegression()

In [102]:
reg.coef_

array([0.67347855, 0.03030824, 0.07864775])

In [103]:
reg.intercept_

41724.36135984083

In [104]:
reg.predict([[114523.61, 151377.59, 471784.10]])

C:\Users\Pritam\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([160546.30385937])

In [125]:
0.67347855*114523.61+0.03030824*151377.59+0.07864775*471784.10+41724.36135984083

160546.30244252295

In [106]:
Y_pred = reg.predict(df[['Marketing Spend','Administration','Transport']])

In [107]:
from sklearn.metrics import r2_score
Score = r2_score(df['Profit'], Y_pred)

In [108]:
Score

0.9043698943010473

In [124]:
reg.score(df[['Marketing Spend','Administration','Transport']],df['Profit'])

0.9043698943010473